
<h2>{{contact.id ? 'Edit Contact' : 'New Contact'}}</h2>
<div>

<md-input-container>
  <input mdInput [(ngModel)]="contact.firstName" type="text" required
         placeholder="First name">
</md-input-container>
<br>

<md-input-container>
  <input mdInput [(ngModel)]="contact.lastName" type="text" required
         placeholder="Last name">
</md-input-container>
<br>

<md-input-container>
  <input mdInput [(ngModel)]="contact.phone" type="text" required
         placeholder="Phone">
</md-input-container>
<br>

<md-input-container>
  <input mdInput [(ngModel)]="contact.address" type="text" required
         placeholder="Address">
</md-input-container>
<br>

<md-input-container>
  <input mdInput [(ngModel)]="contact.city" type="text" required
         placeholder="City">
</md-input-container>
<br>

  <button md-raised-button (click)="addNewContact()" md-dialog-close>Save</button>
  <button md-raised-button md-dialog-close [appVibrate]="">Cancel</button>
</div>
