<h2>{{subtitle}}</h2>
<div>

<md-input-container>
  <input mdInput [(ngModel)]="firstName" type="text" required
         placeholder="First name">
</md-input-container>
<br>

<md-input-container>
  <input mdInput [(ngModel)]="lastName" type="text" required
         placeholder="Last name">
</md-input-container>
<br>

<md-input-container>
  <input mdInput [(ngModel)]="phone" type="text" required
         placeholder="Phone">
</md-input-container>
<br>

<md-input-container>
  <input mdInput [(ngModel)]="address" type="text" required
         placeholder="Address">
</md-input-container>
<br>

<md-input-container>
  <input mdInput [(ngModel)]="city" type="text" required
         placeholder="City">
</md-input-container>
<br>
  <button md-raised-button (click)="addNewContact(firstName, lastName, phone, address, city)" md-dialog-close>Add</button>
  <button md-raised-button md-dialog-close>Cancel</button>
</div>
