/contact-app/.idea
/server/WebApi/.vs
/server/WebApi/WebApi/bin
/server/WebApi/WebApi/obj
/server/WebApi/WebApi/WebApi.csproj.user
/client/*.iml
/server/ContactsWebApp/ContactsWebApp/bin
/server/ContactsWebApp/ContactsWebApp/obj
/server/ContactsWebApp/ContactsWebApp/wwwroot
/cordova/plugins
/cordova/www
/cordova/.idea
/cordova/gen
/cordova/platforms/android
/cordova/platforms/browser
/cordova/node_modules
/server/ContactsWebApp/ContactsWebApp/Properties/PublishProfiles
