md-card-title {
  text-align: center;
}

.mat-card-header-text{
  text-align: center;
  color: azure;
}

md-card-content {
  padding-top: 5px;
}

md-card {
  width: 225px;

}

md-card-header{
  background-color: dodgerblue;
  padding: 4%;
  text-align: right;

}

.contact-header {
  font-weight: bold;
}
