<!--
<button md-fab (click)="showContact(contact)">
  <md-icon>place</md-icon>
</button>

<button md-fab (click)="removeContact(contact)">
  <md-icon>delete</md-icon>
</button>
-->
<div>
<md-card>
  <md-card-header>
    <md-card-title>
      Contact
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <div >
      {{contact.firstName + ' ' + contact.lastName}}>
    </div>
    <div>
      {{contact.address}}, {{contact.city}}
    </div>
    <div>
      {{contact.phone}}
    </div>
    <div>

    {{gfirstName}}

      {{noName}}
      {{id}}
      {{contact[1].city}}
<ul>
      {{contactService.contacts.values(_firstName)}}
      {{gfirstName}}
      {{noName}}
      {{ContactListComponent.contacts.lastName}}
      {{contact.values(phone)}}
      {{contact.address}}
      {{contact.city}}
</ul>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-fab (click)="removeContact()">
      <md-icon>delete</md-icon>
    </button>
    <button md-fab (click)="editContact()">
      <md-icon>create</md-icon>
    </button>

    <button md-fab align="right" (click)="showContact()">
      <md-icon >place</md-icon>
    </button>
  </md-card-actions>

</md-card>
</div>
<!--
-->
