<div class="contactList">

<div class="contactList-item">

<h1>
  {{title}}
</h1>

<!-- TODO ContactList items are displayed here and REFRESH: -->
  <app-contact-list [_contacts]="contacts"
                    (_editContact)="onEditContact($event)"
                    (_removeContact)="onDeleteContact($event)"
                    (_showContactOnMap)="onShowContactOnMap($event)"
  >Loading contacts...</app-contact-list>

  <!-- TODO Corresponding methods on app.component.ts:
                    (editContact)="onEditContact($event)" // editContact()
                    (removeContact)="onDeleteContact($event)" // removeContact
                    (showContactOnMap)="onShowContactOnMap($event)" // showContactOnMap

  <app-contact-list-item *ngFor="let contact of contacts">{{contact.firstName + ' ' + contact.lastName}}</app-contact-list-item>
  -->
  <!--
    <md-list dense *ngFor="let contact of contacts">
      <md-list-item>{{contact.firstName + ' ' + contact.lastName}}</md-list-item>
      <md-list-item>{{contact.phone}}</md-list-item>
      <md-list-item>{{contact.address + ', ' + contact.city}}</md-list-item>
    </md-list>

    -->
 <!--
  <div *ngFor="let contact of viewContacts()">
    {{contact.firstName + ' ' + contact.lastName}}

  </div>
-->

 <!--
   <div *ngFor="let contact of contacts">
    {{contact.firstName + ' ' + contact.lastName}}

<div  ngFor=" viewContacts();">{{contact.firstName + ' ' + contact.lastName}}
</div>
  </div>
-->
  <div align="right">
<button md-fab (click)="onAddContact()">
  <md-icon>add</md-icon>
</button>
  </div>

</div>
</div>

<!-- OFF
<div *ngFor="let contact of contacts">
  {{contact.firstName + ' ' + contact.lastName}}

</div>
-->
<!--
<app-contact-list [contacts]="contacts" (select)="contactSelected($event)"></app-contact-list>
-->

<!-- ON

<div *ngIf="selectedContact">
  Selected: {{selectedContact.firstName}}
</div>

<md-input-container>
  <input mdInput [(ngModel)]="firstname" type="text" required
         placeholder="Type something">
</md-input-container>
<br>
-->
